Hay que completar `incompleto` con `datos`

In [1]:
import pandas as pd

In [2]:
incompleto = pd.read_csv('ds/edo mun y loc INEGI.csv')
datos = pd.read_csv('ds/loc aclin.csv')

/srv/conda/envs/notebook/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
incompleto.rename(columns={'Estados ':'Estado'}, inplace=True)
incompleto_temporal = incompleto[['Lengua', 'Estado', 'Municipio', 'Localidad']]
incompleto_temporal.describe().T

            count unique              top   freq
Lengua     129750     72          Náhuatl  21097
Estado     129750     32           Oaxaca  16913
Municipio  129750   2295         Ocosingo   1553
Localidad  129750  41535  Emiliano Zapata    377

In [4]:
datos_temporal = datos[['Lengua', 'Estado', 'Municipio', 'Localidad']]
datos_temporal.describe().T

           count unique         top  freq
Lengua     44368     70     náhuatl  8651
Estado     44368     30      Oaxaca  7197
Municipio  44355   1233   Guachochi   990
Localidad  44262  27903  San Isidro   123

In [5]:
diff = pd.merge(incompleto_temporal, datos_temporal, how='left', indicator='Exist')

In [6]:
diff.describe().T

            count unique              top    freq
Lengua     129752     72          Náhuatl   21097
Estado     129752     32           Oaxaca   16913
Municipio  129752   2295         Ocosingo    1553
Localidad  129752  41535  Emiliano Zapata     377
Exist      223733      2        left_only  223632

In [7]:
diff['Exist'].value_counts()

left_only     223632
both             101
right_only         0
Name: Exist, dtype: int64

In [8]:
diff.to_csv("out/resultado.csv")