Hay que completar `incompleto` con `datos`

In [1]:
import pandas as pd

In [2]:
#incompleto = pd.read_csv('ds/edo mun y loc INEGI.csv')
#datos = pd.read_csv('ds/loc aclin.csv')
incompleto1 = pd.read_csv('ds/INEGI1.csv')
incompleto2 = pd.read_csv('ds/INEGI2.csv')
datos1 = pd.read_csv('ds/aclin1.csv')
datos2 = pd.read_csv('ds/aclin2.csv')

In [3]:
incompleto = pd.concat([incompleto1, incompleto2], ignore_index=True)
#incompleto.rename(columns={'Estados ':'Estado'}, inplace=True)
incompleto.rename(columns={'Estados ':'Estado', 'Localidades':'Localidad'}, inplace=True)
incompleto_temporal = incompleto[['Lengua', 'Estado', 'Municipio', 'Localidad']]
incompleto_temporal['Lengua'] = incompleto_temporal['Lengua'].str.lower()
incompleto_temporal['Estado'] = incompleto_temporal['Estado'].str.lower()
incompleto_temporal['Municipio'] = incompleto_temporal['Municipio'].str.lower()
incompleto_temporal['Localidad'] = incompleto_temporal['Localidad'].str.lower()
incompleto_temporal['Lengua'] = incompleto_temporal['Lengua'].str.strip()
incompleto_temporal['Estado'] = incompleto_temporal['Estado'].str.strip()
incompleto_temporal['Municipio'] = incompleto_temporal['Municipio'].str.strip()
incompleto_temporal['Localidad'] = incompleto_temporal['Localidad'].str.strip()
incompleto_temporal.describe().T

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

            count unique              top   freq
Lengua     124487     68          náhuatl  21097
Estado     124487     32           oaxaca  16504
Municipio  124487   2295         ocosingo   1524
Localidad  124487  41144  emiliano zapata    360

In [4]:
datos = pd.concat([datos1, datos2], ignore_index=True)
datos_temporal = datos[['Lengua', 'Estado', 'Municipio', 'Localidad']]
datos_temporal['Lengua'] = datos_temporal['Lengua'].str.lower()
datos_temporal['Estado'] = datos_temporal['Estado'].str.lower()
datos_temporal['Municipio'] = datos_temporal['Municipio'].str.lower()
datos_temporal['Localidad'] = datos_temporal['Localidad'].str.lower()
datos_temporal['Lengua'] = datos_temporal['Lengua'].str.strip()
datos_temporal['Estado'] = datos_temporal['Estado'].str.strip()
datos_temporal['Municipio'] = datos_temporal['Municipio'].str.strip()
datos_temporal['Localidad'] = datos_temporal['Localidad'].str.strip()
datos_temporal.describe().T

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

           count unique         top  freq
Lengua     44262     69     náhuatl  8620
Estado     44262     29      oaxaca  7183
Municipio  44261   1211   guachochi   990
Localidad  44262  27194  san isidro   125

In [5]:
diff = pd.merge(incompleto_temporal, datos_temporal, how='left', indicator='Exist')

In [6]:
diff.describe().T

            count unique              top   freq
Lengua     126591     68          náhuatl  21222
Estado     126591     32           oaxaca  17030
Municipio  126591   2295         ocosingo   1624
Localidad  126591  41144  emiliano zapata    366
Exist      126591      2        left_only  95741

In [7]:
diff['Exist'].value_counts()

left_only     95741
both          30850
right_only        0
Name: Exist, dtype: int64

In [8]:
diff.to_csv("out/resultado.csv")

Integrar los resultados

In [9]:
completo = pd.concat([incompleto, diff['Exist']], axis=1)
completo.head()

,Lengua,Estado,Municipio,Localidad,HLI,Hombres,Mujeres,Latitud,Longitud,Loc,Exist
0,Akateko,Aguascalientes,Aguascalientes,aguascalientes,1,1,0,"21°52'47.362"" N","102°17'45.768"" W",Aguascalientes,left_only
1,Akateko,Baja California,Ensenada,rodolfo sanchez taboada (maneadero),2,1,1,"31°43'24.783"" N","116°34'17.366"" W",Rodolfo Sánchez Taboada (Maneadero),left_only
2,Akateko,Baja California,Mexicali,mexicali,1,1,0,"32°38'28.233"" N","115°28'32.084"" W",Mexicali,left_only
3,Akateko,Baja California,Tecate,el testerazo,1,0,1,"32°17'51.845"" N","116°32'01.328"" W",El Testerazo,left_only
4,Akateko,Baja California,Tijuana,tijuana,8,5,3,"32°31'56.859"" N","117°01'08.088"" W",Tijuana,left_only

In [10]:
completo.describe().T

            count unique               top   freq
Lengua     124487     68           Náhuatl  21097
Estado     124487     32            Oaxaca  16504
Municipio  124487   2295          Ocosingo   1524
Localidad  124487  41144   emiliano zapata    360
HLI        124487   1890                 1  39608
Hombres    124487   1225                 1  30700
Mujeres    124487   1294                 1  32638
Latitud    124487  63122   32°31'56.859" N     54
Longitud   124487  63201  117°01'08.088" W     54
Loc        124487  41234   Emiliano Zapata    360
Exist      126591      2         left_only  95741

In [11]:
completo.to_csv("out/completo.csv")