Hay que completar `incompleto` con `datos`

In [1]:
import pandas as pd

In [2]:
incompleto = pd.read_csv('ds/edo mun y loc INEGI.csv')
datos = pd.read_csv('ds/loc aclin.csv')

/srv/conda/envs/notebook/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
incompleto.rename(columns={'Estados ':'Estado'}, inplace=True)
incompleto_temporal = incompleto[['Lengua', 'Estado', 'Municipio', 'Localidad']]
incompleto_temporal['Lengua'] = incompleto_temporal['Lengua'].str.lower()
incompleto_temporal['Estado'] = incompleto_temporal['Estado'].str.lower()
incompleto_temporal['Municipio'] = incompleto_temporal['Municipio'].str.lower()
incompleto_temporal['Localidad'] = incompleto_temporal['Localidad'].str.lower()
incompleto_temporal.describe().T

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            count unique              top   freq
Lengua     129750     72          náhuatl  21097
Estado     129750     32           oaxaca  16913
Municipio  129750   2295         ocosingo   1553
Localidad  129750  41534  emiliano zapata    377

In [4]:
datos_temporal = datos[['Lengua', 'Estado', 'Municipio', 'Localidad']]
datos_temporal['Lengua'] = datos_temporal['Lengua'].str.lower()
datos_temporal['Estado'] = datos_temporal['Estado'].str.lower()
datos_temporal['Municipio'] = datos_temporal['Municipio'].str.lower()
datos_temporal['Localidad'] = datos_temporal['Localidad'].str.lower()
datos_temporal.describe().T

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

           count unique         top  freq
Lengua     44368     70     náhuatl  8651
Estado     44368     29      oaxaca  7197
Municipio  44355   1217   guachochi   990
Localidad  44262  27889  san isidro   123

In [5]:
diff = pd.merge(incompleto_temporal, datos_temporal, how='left', indicator='Exist')

In [6]:
diff.describe().T

            count unique              top    freq
Lengua     131506     72          náhuatl   21221
Estado     131506     32           oaxaca   17431
Municipio  131506   2295         ocosingo    1644
Localidad  131506  41534  emiliano zapata     383
Exist      225487      2        left_only  198238

In [7]:
diff['Exist'].value_counts()

left_only     198238
both           27249
right_only         0
Name: Exist, dtype: int64

In [8]:
diff.to_csv("out/resultado.csv")

Integrar los resultados

In [9]:
completo = pd.concat([incompleto, diff['Exist']], axis=1)
completo.head()

,Lengua,Estado,Municipio,Localidad,HLI,Hombres,Mujeres,Latitud,Longitud,Exist
0,Akateko,Aguascalientes,Aguascalientes,Aguascalientes,1,1,0,"21°52'47.362"" N","102°17'45.768"" W",left_only
1,Akateko,Baja California,Ensenada,Rodolfo Sánchez Taboada (Maneadero),2,1,1,"31°43'24.783"" N","116°34'17.366"" W",left_only
2,Akateko,Baja California,Mexicali,Mexicali,1,1,0,"32°38'28.233"" N","115°28'32.084"" W",left_only
3,Akateko,Baja California,Tecate,El Testerazo,1,0,1,"32°17'51.845"" N","116°32'01.328"" W",left_only
4,Akateko,Baja California,Tijuana,Tijuana,8,5,3,"32°31'56.859"" N","117°01'08.088"" W",left_only

In [10]:
completo.describe().T

            count unique               top    freq
Lengua     129750     72           Náhuatl   21097
Estado     129750     32            Oaxaca   16913
Municipio  129750   2295          Ocosingo    1553
Localidad  129750  41535   Emiliano Zapata     377
HLI        129750   1890                 1   42563
Hombres    129750   1225                 1   32907
Mujeres    129750   1294                 1   34594
Latitud    129750  63615   32°31'56.859" N      58
Longitud   129750  63694  117°01'08.088" W      58
Exist      225487      2         left_only  198238

In [11]:
completo.to_csv("out/completo.csv")